<form>
    <h2>EDUCATIONAL DETAILS</h2>
    <div class="row-align">
        <div class="left">
            <label>Course Pursued</label><br>
            <select>
                <option>BE</option>
                <option>BCA</option>
                <option>BSc</option>

            </select>
        </div>
        <div class="right">
            <label>Name of the College/Institution</label><br>
            <input type="text" placeholder="Name of the College/Institution">
        </div>
    </div>
    <div class="row-align">
        <div class="left">
            <label>Duration</label><br>
            From:<input type="date">
            To:<input type="date">

        </div>
        <div class="right">
            <label>CGPA obtained</label><br>
            <input type="text" placeholder="CGPA Obtained">
        </div>
    </div>
    
</form>
