.row-align {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-column-gap: 10px; 
}

.row-align .left {
    grid-column: 1; 
}

.row-align .right {
    grid-column: 2; 
}
.error-message {
    color: red;
    font-size: 12px;
  }
  
