<div class="background-color">
    <div class="icon">
        <i class="fas fa-user mt-1 p-2"></i>
        <h2>BASIC INFORMATION</h2>
    </div>
<form [formGroup]="basicInfoForm" (ngSubmit)="onSubmit()">
    <div class="row-align">
        <div class="left">
            <label>First Name:</label><br>
            <input type="text" formControlName="firstName" placeholder="Enter the First Name" class="form-control custom-input">
            <div *ngIf="basicInfoForm.get('firstName')?.invalid && basicInfoForm.get('firstName')?.touched">
                <small class="text-danger">First Name is required.</small>
            </div>
        </div>
        <div class="right">
            <label>Last Name:</label><br>
            <input type="text" formControlName="lastName" placeholder="Enter the Last Name" class="form-control custom-input">
            <div *ngIf="basicInfoForm.get('lastName')?.invalid && basicInfoForm.get('lastName')?.touched">
                <small class="text-danger">Last Name is required.</small>
            </div>
        </div>
    </div>
    <div class="row-align">
        <div class="left">
            <label>Date of Birth</label><br>
            <input type="date" formControlName="dob" placeholder="Enter the Date of Birth" class="form-control custom-input">
            <div *ngIf="basicInfoForm.get('dob')?.invalid && basicInfoForm.get('dob')?.touched">
                <small class="text-danger">Date of Birth is required.</small>
            </div>
        </div>
        <div class="right">
            <label>Gender:</label><br>
            <input type="radio" formControlName="gender" value="Male" class="form-check-input"> <label>Male</label>
            <input type="radio" formControlName="gender" value="Female" class="form-check-input"> <label>Female</label>
            <input type="radio" formControlName="gender" value="Others" class="form-check-input"> <label>Others</label>
            <div *ngIf="basicInfoForm.get('gender')?.invalid && basicInfoForm.get('gender')?.touched">
                <small class="text-danger">Gender is required.</small>
            </div>
        </div>
    </div>
    <div class="row-align">
        <div class="left">
            <label>Position applied for</label><br>
            <select formControlName="position" class="form-control custom-input">
                <option value="">Select Position</option>
                <option value="Full stack developer">Full stack developer</option>
                <option value="Front-end developer">Front-end developer</option>
                <option value="Back-end developer">Back-end developer</option>
            </select>
            <div *ngIf="basicInfoForm.get('position')?.invalid && basicInfoForm.get('position')?.touched">
                <small class="text-danger">Position is required.</small>
            </div>
        </div>
        <div class="right">
            <label>Employee Reference</label><br>
            <input type="text" formControlName="employeeReference" placeholder="Employee Reference" class="form-control custom-input">
            <div *ngIf="basicInfoForm.get('employeeReference')?.invalid && basicInfoForm.get('employeeReference')?.touched">
                <small class="text-danger">Employee Reference is required.</small>
            </div>
        </div>
    </div>
    <div class="icon">
        <i class="fas fa-mobile-screen-button mt-1 p-2"></i>
        <h2>CONTACT</h2>
    </div>
    <div class="row-align">
        <div class="left">
            <label>Mobile Number</label><br>
            <input type="tel" formControlName="mobileNumber" placeholder="Enter the Mobile Number" class="form-control custom-input">
            <div *ngIf="basicInfoForm.get('mobileNumber')?.invalid && basicInfoForm.get('mobileNumber')?.touched">
                <small class="text-danger">Mobile Number is required.</small>
            </div>
        </div>
        <div class="right">
            <label>Home Phone Number</label><br>
            <input type="tel" formControlName="homePhoneNumber" placeholder="Enter the Home Phone Number" class="form-control custom-input">
            <div *ngIf="basicInfoForm.get('homePhoneNumber')?.invalid && basicInfoForm.get('homePhoneNumber')?.touched">
                <small class="text-danger">Home Phone Number is required.</small>
            </div>
        </div>
        <div class="left mt-3" >
            <label>Office Number</label><br>
            <input type="tel" formControlName="officeNumber" placeholder="Enter the Office Number" class="form-control custom-input">
            <div *ngIf="basicInfoForm.get('officeNumber')?.invalid && basicInfoForm.get('officeNumber')?.touched">
                <small class="text-danger">Office Number is required.</small>
            </div>
        </div>
    </div>
    <div>
        <div class="row-align">
            <label>Personal Email Id</label><br>
            <input type="email" formControlName="personalEmail" placeholder="Enter the Email Id" class="form-control custom-input">
            <div *ngIf="basicInfoForm.get('personalEmail')?.invalid && basicInfoForm.get('personalEmail')?.touched">
                <small class="text-danger">Personal Email Id is required.</small>
            </div>
        </div>
    </div>
    <div class="icon">
        <i class="fas fa-house mt-1 p-2"></i>
        <h2>ADDRESS</h2>
    </div>
    <div class="row-align">
        <div class="left">
            <label>Present Address</label><br>
            <input type="text" formControlName="presentAddress" placeholder="Enter the Present Address" class="form-control custom-input">
            <div *ngIf="basicInfoForm.get('presentAddress')?.invalid && basicInfoForm.get('presentAddress')?.touched">
                <small class="text-danger">Present Address is required.</small>
            </div>
        </div>
        <div class="right">
            <label>Locality</label><br>
            <input type="text" formControlName="locality" placeholder="Enter the Locality" class="form-control custom-input">
            <div *ngIf="basicInfoForm.get('locality')?.invalid && basicInfoForm.get('locality')?.touched">
                <small class="text-danger">Locality is required.</small>
            </div>
        </div>
    </div>
    <div class="row-align">
        <div class="left">
            <label>City</label><br>
            <input type="text" formControlName="city" placeholder="Enter the City" class="form-control custom-input">
            <div *ngIf="basicInfoForm.get('city')?.invalid && basicInfoForm.get('city')?.touched">
                <small class="text-danger">City is required.</small>
            </div>
        </div>
        <div class="right">
            <label>PinCode</label><br>
            <input type="number" formControlName="pinCode" placeholder="Enter the PinCode" class="form-control custom-input">
            <div *ngIf="basicInfoForm.get('pinCode')?.invalid && basicInfoForm.get('pinCode')?.touched">
                <small class="text-danger">PinCode is required.</small>
            </div>
        </div>
    </div>
    <div class="row-align">
        <div class="left">
            <label>District</label><br>
            <input type="text" formControlName="district" placeholder="Enter the District" class="form-control custom-input">
            <div *ngIf="basicInfoForm.get('district')?.invalid && basicInfoForm.get('district')?.touched">
                <small class="text-danger">District is required.</small>
            </div>
        </div>
        <div class="right">
            <label>State</label><br>
            <input type="text" formControlName="state" placeholder="Enter the state" class="form-control custom-input">
            <div *ngIf="basicInfoForm.get('state')?.invalid && basicInfoForm.get('state')?.touched">
                <small class="text-danger">State is required.</small>
            </div>
        </div>
    </div>
    <div class="row-align">
        <div class="left">
            <label>Country</label><br>
            <input type="text" formControlName="country" placeholder="Enter the Country" class="form-control custom-input">
            <div *ngIf="basicInfoForm.get('country')?.invalid && basicInfoForm.get('country')?.touched">
                <small class="text-danger">Country is required.</small>
            </div>
        </div>
        <div class="right">
            <label>LandMark</label><br>
            <input type="text" formControlName="landmark" placeholder="Enter the LandMark" class="form-control custom-input">
            <div *ngIf="basicInfoForm.get('landmark')?.invalid && basicInfoForm.get('landmark')?.touched">
                <small class="text-danger">LandMark is required.</small>
            </div>
        </div>
    </div>
    <div class="row-align">
        <div class="left">
            <label>Do you have Passport?</label><br>
            <input type="radio" formControlName="hasPassport" value="Yes" class="form-check-input"> Yes
            <input type="radio" formControlName="hasPassport" value="No" class="form-check-input"> No
            <div *ngIf="basicInfoForm.get('hasPassport')?.invalid && basicInfoForm.get('hasPassport')?.touched">
                <small class="text-danger">Please select an option.</small>
            </div>
        </div>
        <div class="right">
            <label>Do you have Visa?</label><br>
            <input type="radio" formControlName="hasVisa" value="Yes" class="form-check-input"> Yes
            <input type="radio" formControlName="hasVisa" value="No" class="form-check-input"> No
            <div *ngIf="basicInfoForm.get('hasVisa')?.invalid && basicInfoForm.get('hasVisa')?.touched">
                <small class="text-danger">Please select an option.</small>
            </div>
        </div>
    </div>
    <div class="icon">
        <i class="fas fa-user-group mt-1 p-2"></i>
        <h2>FAMILY DETAILS</h2>
    </div>
    <div>
        <label>Marital Status</label><br>
        <input type="radio" formControlName="maritalStatus" value="Single" class="form-check-input"> Single
        <input type="radio" formControlName="maritalStatus" value="Married" class="form-check-input"> Married
        <input type="radio" formControlName="maritalStatus" value="Divorced" class="form-check-input"> Divorced
        <input type="radio" formControlName="maritalStatus" value="Widowed" class="form-check-input"> Widowed
        <input type="radio" formControlName="maritalStatus" value="Separated" class="form-check-input"> Separated
        <input type="radio" formControlName="maritalStatus" value="Other" class="form-check-input"> Other
        <div *ngIf="basicInfoForm.get('maritalStatus')?.invalid && basicInfoForm.get('maritalStatus')?.touched">
            <small class="text-danger">Please select marital status.</small>
        </div>
    </div>
    <div>
        <label>Family Members</label>
        <table>
            <tr>
                <th>Name</th>
                <th>Relationship</th>
                <th>Age</th>
                <th>Occupation/Organization</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>
                    <input type="text" formControlName="name" placeholder="Enter name" class="form-control custom-input">
                </td>
                <td>
                    <select formControlName="relationship" class="form-control custom-input">
                        <option value="">Select</option>
                        <option value="Father">Father</option>
                        <option value="Mother">Mother</option>
                        <option value="Husband">Husband</option>
                        <option value="Wife">Wife</option>
                        <option value="Sibling">Sibling</option>
                    </select>
                </td>
                <td>
                    <input type="number" formControlName="age" placeholder="Enter age" class="form-control custom-input">
                </td>
                <td>
                    <input type="text" formControlName="occupation" placeholder="Enter occupation/organization" class="form-control custom-input">
                </td>
                <td>
                    <button class="btn">Delete</button>
                </td>
            </tr>
        </table>
        <button (click)="addFamilyMember()" class="btn">Add Family Member</button>
    </div>
    <div>
        <label>Language Proficiency</label>
        <table>
            <tr>
                <th>Language</th>
                <th>Can speak</th>
                <th>Can read</th>
                <th>Can write</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>
                    <select formControlName="language" class="form-control custom-input" placeholder="Select Language">
                        <option value="">Select</option>
                        <option value="Tamil">Tamil</option>
                        <option value="English">English</option>
                        <option value="Hindi">Hindi</option>
                    </select>
                </td>
                <td>
                    <input type="checkbox" formControlName="canSpeak">
                </td>
                <td>
                    <input type="checkbox" formControlName="canRead">
                </td>
                <td>
                    <input type="checkbox" formControlName="canWrite">
                </td>
                <td>
                    <button class="btn">Delete</button>
                </td>
            </tr>
        </table>
        <button (click)="addLanguage()" class="btn">Add Language</button>
    </div>
    <button type="submit" [disabled]="basicInfoForm.invalid" class="btn">Submit</button>
</form>

</div>