<h2>BASIC INFORMATION</h2>
<form class="mat-form">
    <div class="row-align">
        <div class="left">
            <label>First Name:</label><br>
            <input type="text" placeholder="Enter the First Name">
        </div>
        <div class="right">
            <label>Last Name:</label><br>
            <input type="text" placeholder="Enter the Last Name">
        </div>
    </div>
    <div class="row-align">
        <div class="left">
            <label>Date of Birth</label><br>
            <input type="date" placeholder="Enter the Date of Birthday">
        </div>
        <div class="right">
            <label>Gender:</label><br>
            <input type="radio"> <label>Male</label>
            <input type="radio"> <label>Female</label>
            <input type="radio"> <label>Others</label>
        </div>

    </div>
    <div class="row-align">
        <div class="left">
            <label>Position applied for </label><br>
            <select>
                <option>Full stack developer</option>
                <option>front-end developer</option>
                <option>back-end developer</option>
            </select>
        </div>
        <div class="right">
            <label>Employee Reference</label><br>
            <input type="text" placeholder="Employee Reference">  
        </div>
    </div>
</form>
<h2>CONTACT</h2>
<form>
    <div class="row-align">
        <div class="left">
            <label>Mobile Number</label><br>
            <input type="number" placeholder="Enter the Mobile Number">
        </div>
        <div class="">
            <label>Home Phone Number</label><br>
            <input type="number" placeholder="Enter the Home Phone Number">
        </div>
        <div class="">
            <label>Office Number</label><br>
            <input type="number" placeholder="Enter the Office Number">
        </div>
    </div>
    <div>
        <div class="">
            <label>Personal Email Id</label><br>
            <input type="email" placeholder="Enter the Email Id">
        </div>
    </div>
    <div class="row-align">
        <div class="left">
            <label>Present Address</label><br>
            <input type="text" placeholder="Enter the P Address">
        </div>
        <div class="right">
            <label>Locality</label><br>
            <input type="text" placeholder="Enter the Locality">
        </div>
    </div>
    <div class="row-align">
        <div class="left">
            <label>City</label><br>
            <input type="text" placeholder="Enter the City">
        </div>
        <div class="right">
            <label>PinCode</label><br>
            <input type="number" placeholder="Enter the PinCode">
        </div>
    </div>
    <div class="row-align">
        <div class="left">
            <label>District</label><br>
            <input type="text" placeholder="Enter the District">
        </div>
        <div class="right">
            <label>State</label><br>
            <input type="text" placeholder="Enter the state">
        </div>
    </div>
    <div class="row-align">
        <div class="left">
            <label>Country</label><br>
            <input type="text" placeholder="Enter the Country">
        </div>
        <div class="right">
            <label>LandMark</label><br>
            <input type="number" placeholder="Enter the LandMark">
        </div>
    </div>
    <div class="row-align">
        <div class="left">
            <label>Do you have Passport?</label><br>
            <input type="radio"> Yes
            <input type="radio"> No
        </div>
        <div class="right">
            <label>Do you have Visa?</label><br>
            <input type="radio"> Yes
            <input type="radio"> No
        </div>
    </div>
</form>
<form>
    <h2>FAMILY DETAILS</h2>
    <div>
        <label>Marital Status</label><br>
            <input type="radio"> <label>Single</label>
            <input type="radio"> <label>Married</label>
            <input type="radio"> <label>Divorced</label>
            <input type="radio"> <label>Widowed</label>
            <input type="radio"> <label>Seperated</label>
            <input type="radio"> <label>Other</label>
    </div>
    <div>
        <label>Family Members</label>

    <table>
        <tr>
        <th>Name</th>
        <th>relationship</th>
        <th>age</th>
        <th>occupation/organisation</th>
        <th>action</th>
        </tr>
        <tr>
        <td>
            <div class="form-group">
                <input type="text" class="form-control"   placeholder="Enter name">
                
              </div>
        </td>
        <td>
            <div class="form-group">
                <select>
                    <option>Father</option>
                    <option>Mother</option>
                    <option>Husband</option>
                    <option>Wife</option>
                    <option>Sibling</option>

                </select>                
              </div>
        </td>
        <td>
            <div class="form-group">
               <input type="number" placeholder="Enter your Age">
              </div>
        </td>
        <td>
            <div class="form-group">
                <input type="text" placeholder="Enter your Occupation/Organization">
              </div>
        </td>
        <td>
            <div class="form-group">
                <button>Save</button>  <button>Delete</button>              
              </div>
        </td>
        
        </tr>
    </table>  
    </div>
    <div>
        <label>Language Proficiency</label>
        <table>
            <tr>
            <th>Language</th>
            <th>Can speak</th>
            <th>Can read</th>
            <th>Can write</th>
            <th>Action</th>
            </tr>
            <tr>
            <td>
                <div class="form-group">
                    <select>
                        <option>Tamil</option>
                        <option>English</option>
                        <option>Hindi</option>
                    </select>                    
                  </div>
            </td>
            <td>
                <div class="form-group">
                    <input type="checkbox">               
                  </div>
            </td>
            <td>
                <div class="form-group">
                    <input type="checkbox">               
                  </div>
            </td>
            <td>
                <div class="form-group">
                    <input type="checkbox">               
                  </div>
            </td>
            <td>
                <div class="form-group">
                    <button>Save</button>  <button>Delete</button>              
                  </div>
            </td>
            
            </tr>
        </table>
    </div>
</form>

