<div class="row-align">
    <div class="left">
        <label>Duration</label><br>
        <input type="date" placeholder="From">
        <input type="date" placeholder="To">
    </div>
    <div class="right">
        <label>Role/Title</label><br>
        <input type="text" placeholder="Designation">
    </div>
</div>
<div class="row-align">
    <div class="left">
        <label>Reason for change</label><br>
        <input type="text" placeholder="Reason for change">
    </div>
    <div class="right">
        <label>Total years of experience</label><br>
        <input type="text" placeholder="Total years of experience">
    </div>
</div>