<div class="background-color">
    <h2>SKILL SET</h2>
    <button (click)="addSkill()">Add new</button>
    <div *ngIf="isTrue">
      <div class="row-align">
        <form [formGroup]="skillForm">
        <div>
          <label>Skill</label>
          <input type="text" formControlName="skill" [(ngModel)]="skill">
          <div *ngIf="skillForm.get('skill')?.invalid && skillForm.get('skill')?.touched">
            <small class="text-danger">Skill is required.</small>
          </div>
        </div>
        <div>
          <label>Experience</label>
          <input type="number" formControlName="experience" [(ngModel)]="experience">
          <div *ngIf="skillForm.get('experience')?.invalid && skillForm.get('experience')?.touched">
            <small class="text-danger">Experience is required.</small>
          </div>
        </div>
    </form>
        <div>
          <button (click)="addData()">Add</button>
        </div>
      </div>
    </div>
    <table>
      <tr>
        <th>Skills</th>
        <th>YearsOfExperience</th>
        <th>Rating</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let skill of skills; let i = index">
        <td *ngIf="!editMode || editIndex !== i">{{ skill.skill }}</td>
        <td><input type="text" [(ngModel)]="editSkillData.skill" *ngIf="editMode && editIndex === i">
    </td>
        <td *ngIf="!editMode || editIndex !== i">{{ skill.experience }}</td>
        <td>
            <input type="number" [(ngModel)]="editSkillData.experience" *ngIf="editMode && editIndex === i">
          </td>
        <td>
          <select [(ngModel)]="editSkillData.rating">
                <option *ngFor="let data of rating" [value]="data">{{ data }}</option>
          </select>
        </td>
        <td>
            <button (click)="editSkill(i)" *ngIf="!editMode || editIndex !== i">Edit</button>
            <button (click)="saveSkill(i)" *ngIf="editMode && editIndex === i">Save</button>
            <button (click)="deleteSkill(i)">Delete</button>
        </td>
      </tr>
    </table>
  </div>
  